spotipy>=2.19.0rc1,<=2.19.0
pandas~=1.4
numpy~=1.23
beautifulsoup4~=4.11
plotly~=5.10
matplotlib~=3.5
streamlit~=1.11
dash~=2.6
scikit-image~=0.19.3
scikit-learn~=1.1
scipy~=1.9
joblib~=1.1
networkx~=3.5
catboost~=1.2
